@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

:root {
  --primaryBlue: #0770e5;
  --primarylightblue: #0770e530;
  --primaryDarkBlue: #00215f;
  --black: #000;
  --white: #fff;
  --white100: #e0e0e0;
  --gray100: #e0e0e066;
  --gray200: #e0e0e080;
  --gray300: #e0e0e0;
  --gray400: #e8e8e8;
  --gray500: #00000030;
  --gray900: #333333;
}

.right-tab-main {
  width: 100%;
}

.inner-right-sec {
  width: 100%;
  margin-left: auto;
}

/* total value sec Start */
#tooltip-idAREA div:nth-child(1) {
  display: none;
}

#tooltip-idAREA div:nth-child(2) {
  color: #333333 !important;
  position: absolute;
  font-weight: 700;
  font-size: 30px !important;
  padding: 8px 0;
  padding-left: 4px;
  line-height: 2.25rem;
  top: 34px;
  margin: 0 !important;
}

#tooltip-idAREA div:nth-child(3) {
  color: #333333;
  position: absolute;
  top: 66px;
  padding-left: 6px;
  font-size: 10px;
  font-weight: 500;
  padding-top: 10px;
  z-index: 9999;
}

.tv-lightweight-charts {
  margin-top: 27px;
}

.tv-lightweight-charts table tr td:last-child div {
  margin-left: 15px;
}

.total-value-main {
  max-width: 1203px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.total-value-main .total-value-head {
  margin-top: 44px;
}

.total-value-main .total-value-head h2 {
  font-size: 40px;
  font-weight: bold;
  color: var(--primaryDarkBlue);
  display: inline-block;
}

.total-value-main .total-value-head .total-value-left {
  border-bottom: 1px solid var(--gray300);
  padding-bottom: 56px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  color: var(--gray900);
}

.total-value-main .total-value-head .total-value-left .value-locked-part {
  max-width: 281px;
  width: 100%;
  display: block;
}

.total-value-main .total-value-head .total-value-left .value-locked-part .value-locked-top {
  border: 1px solid var(--gray300);
  width: auto;
  border-radius: 10px;
  padding: 25px 30px;
  margin-bottom: 14px;
}

.total-value-main .total-value-head .total-value-left .value-locked-part .value-locked-top:last-child {
  margin-bottom: 0;
}

.total-value-main .total-value-head .total-value-left .value-locked-part .value-locked-top h3 {
  font-size: 16px;
  font-weight: 500;
}

.total-value-main .total-value-head .total-value-left .value-locked-part .value-locked-top h2 {
  font-size: 42px;
  color: var(--primaryBlue);
  padding-top: 10px;
  font-weight: bold;
  line-height: 2.125rem;
}

.total-value-main .total-value-head .total-value-right {
  max-width: 875px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--gray300);
}

.total-value-main .total-value-head .total-value-right .total-right-conatin {
  padding: 25px;
  padding-bottom: 0 !important;
  position: relative;
}

.total-value-main .total-value-head .total-value-right .total-right-conatin h3 {
  font-size: 16px;
  font-weight: 500;
  color: var(--gray900);
  padding-left: 8px;
}

#test-idAREA #tooltip-idAREA:first-child {
  display: none !important;
}

/* total value sec End */
/* Explore all protocols sec Start */
.explore-protocol-sec-main {
  margin-bottom: 36px;
  color: var(--primaryDarkBlue);
}

.explore-protocol-sec-main .explore-protocol-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.75rem;
  padding-top: 53px;
  padding-bottom: 24px;
}

.explore-protocol-sec-main .explore-protocol-head h2 {
  font-size: 26px;
  font-weight: bold;
}

.explore-protocol-sec-main .explore-protocol-head .view-more-btn {
  background-color: var(--primaryBlue);
  font-size: 14px;
  font-weight: 600;
  padding: 12px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  border: 1px solid var(--primaryBlue);
  border-radius: 4px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.explore-protocol-sec-main .explore-protocol-head .view-more-btn:hover {
  background-color: var(--white);
  color: var(--primaryBlue);
}

.explore-protocol-sec-main .explore-protocol-head .plus-icon:hover svg line {
  stroke: #0770e5;
}

.explore-protocol-sec-main .explore-protocol-head .plus-icon:hover span svg path {
  fill: #0770e5;
}

.explore-protocol-sec-main .explore-protocol-head .plus-icon:hover svg path {
  stroke: #0770e5;
}

.explore-protocol-sec-main .explore-protocol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  gap: y 1.75rem;
  border-bottom: 1px solid var(--gray300);
  padding-bottom: 44px;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left {
  width: 23.8%;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box {
  border: 1px solid var(--gray300);
  border-radius: 10px;
  padding: 20px;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-part h3 {
  font-size: 14px;
  font-weight: 600;
  color: var(--gray900);
  padding-left: 10px;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-part-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 0px 12px;
  gap: 2rem;
  border-bottom: 1px solid var(--gray300);
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-part-text h3 {
  font-size: 30px;
  font-weight: bold;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-part-text p {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray900);
  opacity: 0.4;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--gray100);
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 4px;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-risk {
  padding: 12px;
  border-radius: 4px;
  background-color: var(--gray400);
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-risk h3 {
  font-size: 14px;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-risk h4 {
  font-size: 10px;
  font-weight: bold;
  width: 20px;
  margin: 0 auto;
  background-color: var(--primaryDarkBlue);
  padding: 4px 8px;
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  margin-top: 4px;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-protocol {
  padding: 12px;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-protocol .notional-protocol-inner h3 {
  font-size: 14px;
  color: var(--gray900);
  opacity: 0.5;
  text-align: center;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-protocol .notional-protocol-inner .protocol-img {
  padding: 4px;
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--white);
  border-radius: 4px;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-protocol .notional-protocol-inner .protocol-img h4 {
  font-size: 10px;
  font-weight: bold;
  color: var(--gray900);
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-right-border {
  border-right: 1px solid var(--white);
  width: 2px;
  height: 50px;
  margin-top: 12px;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-chain {
  padding: 12px;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-chain h3 {
  font-size: 14px;
  text-align: center;
  color: var(--gray900);
  opacity: 0.5;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-chain .notional-chain-inner {
  padding: 4px;
  margin-top: 4px;
  background-color: var(--white);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.25rem;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-chain .notional-chain-inner h4 {
  font-size: 10px;
  font-weight: bold;
  color: var(--gray900);
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .notional-insert-sec {
  border: 1px solid var(--gray300);
  border-radius: 10px;
  padding: 14px 14px 14px 20px;
  margin: 18px 0;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .notional-insert-sec .insert-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .notional-insert-sec .insert-sec .insert-inner-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .notional-insert-sec .insert-sec .insert-inner-part .name-insert-round {
  background-color: var(--gray300);
  padding: 20px;
  border-radius: 50%;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .notional-insert-sec .insert-sec .insert-inner-part .insert-contain {
  padding-left: 10px;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .notional-insert-sec .insert-sec .insert-inner-part .insert-contain h3 {
  font-size: 14px;
  font-weight: 600;
  color: var(--gray900);
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .notional-insert-sec .insert-sec .insert-inner-part .insert-contain .insert-contain-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding-top: 5px;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .notional-insert-sec .insert-sec .insert-inner-part .insert-contain .insert-contain-bottom h3 {
  font-size: 20px;
  font-weight: bold;
  color: var(--primaryDarkBlue);
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .notional-insert-sec .insert-sec .insert-inner-part .insert-contain .insert-contain-bottom p {
  font-size: 10px;
  font-weight: 500;
  color: var(--gray900);
  opacity: 0.4;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .notional-insert-sec .insert-name-right h4 {
  font-size: 10px;
  font-weight: bold;
  background-color: var(--primaryDarkBlue);
  margin-top: 4px;
  border-radius: 4px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
}

.explore-protocol-sec-main .explore-protocol .explore-protocol-left .notional-insert-sec .insert-name-right .insert-logo-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--gray200);
  border-radius: 4px;
  margin-top: 2px;
  width: 20px;
  height: 20px;
}

/* Explore all protocols sec End */
@media screen and (min-width: 1400px) and (max-width: 1499px) {
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-part-text {
    gap: 1.25rem;
  }
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-risk {
    padding: 12px 8px;
  }
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-protocol {
    padding: 12px 8px;
  }
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-chain {
    padding: 12px 8px;
  }
}

@media screen and (max-width: 1399px) {
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left {
    width: 32%;
  }
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-risk {
    width: 32%;
    text-align: center;
    padding: 12px 6px;
  }
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-protocol {
    width: 33%;
    padding: 12px 6px;
  }
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-chain {
    width: 33%;
    padding: 12px 6px;
  }
  .explore-protocol-sec-main .explore-protocol .uniswap-sec-main {
    width: 65%;
  }
  .explore-protocol-sec-main .explore-protocol .uniswap-sec-main .protocol-box {
    width: 100%;
  }
  .uniswap-sec-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .uniswap-sec-main .uniswp-sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .uniswap-sec-main .uniswap-bottom {
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 1199px) {
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left {
    width: 48%;
  }
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-risk {
    width: 33%;
  }
  .uniswap-sec-main {
    display: block;
  }
  .uniswap-sec-main .uniswp-sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1023px) {
  .tv-lightweight-charts {
    width: 100% !important;
    margin-right: 10px;
  }
  .tv-lightweight-charts table {
    width: 100% !important;
  }
}

@media screen and (max-width: 1023px) {
  .tv-lightweight-charts {
    width: 100% !important;
  }
  .tv-lightweight-charts table {
    width: 100% !important;
  }
  .total-value-main .total-value-head {
    margin-top: 20px;
  }
  .total-value-main .total-value-head h2 {
    font-size: 32px;
    line-height: 2.1875rem;
  }
  .total-value-main .total-value-head .total-value-left {
    padding-bottom: 32px;
    margin-top: 20px;
  }
  .total-value-main .total-value-head .total-value-left .value-locked-part .value-locked-top h2 {
    font-size: 32px;
    padding-top: 4px;
  }
  .total-value-main .total-value-head .total-value-right .total-right-conatin {
    padding-bottom: 0;
    padding-top: 20px;
  }
  .explore-protocol-sec-main .explore-protocol h2 {
    font-size: 24px;
  }
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-part-text {
    padding-top: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-part-text h3 {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .tv-lightweight-charts .transactions-box {
    width: 1100px;
  }
  .tv-lightweight-charts .white-plus-icon svg {
    width: 7px;
  }
  .total-value-main {
    padding: 0 15px;
  }
  .total-value-main .total-value-head .total-value-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .total-value-main .total-value-head .total-value-left .value-locked-part {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1.25rem;
  }
  .total-value-main .total-value-head .total-value-left .value-locked-part .value-locked-top {
    padding: 16px;
    margin-bottom: 0;
    max-width: 224px;
    width: 100%;
  }
  .total-value-main .total-value-head .total-value-left .value-locked-part .value-locked-top h2 {
    font-size: 22px;
  }
  .insert-contain-bottom h3 {
    font-size: 18px;
  }
  .explore-protocol-sec-main .explore-protocol {
    padding-bottom: 20px;
  }
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-chain {
    padding: 12px 5px;
  }
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-chain h3 {
    font-size: 14px;
  }
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-protocol {
    padding: 12px 5px;
  }
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-protocol .notional-protocol-inner h3 {
    font-size: 14px;
  }
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-risk {
    width: 31%;
    text-align: center;
  }
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-bottompart .notional-risk h3 {
    font-size: 14px;
  }
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box .notional-part-text {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 575px) {
  .tv-lightweight-charts {
    margin-top: 40px;
  }
  .total-value-main .total-value-head .total-value-left .value-locked-part {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
  }
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left {
    width: 100%;
  }
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left .protocol-box {
    padding: 15px;
  }
  .explore-protocol-sec-main .explore-protocol .explore-protocol-left .notional-insert-sec .insert-sec .insert-inner-part .insert-contain .insert-contain-bottom {
    gap: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .total-value-main .total-value-head .total-value-left .value-locked-part {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .total-value-main .total-value-head .total-value-left .value-locked-part .value-locked-top {
    width: 47%;
    max-width: 100%;
  }
  .total-value-main .total-value-head .total-value-left .value-locked-part .value-locked-bottom {
    width: 100%;
  }
}

/* Explore all protocols sec End */
/*# sourceMappingURL=Home.css.map */