.downarrow-img {
  width: 23px;
  height: 13px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  top: 35px;
  right: 40px;
}

.toparrowsidebarinvisible {
  display: none;
}

.downarrow-imginvisible {
  display: none;
}

.siderbar-main-sec {
  width: 300px;
  height: 100vh;
  background-color: var(--primaryDarkBlue);
  color: var(--white);
}

.siderbar-main-sec .siderbar-logo-part {
  padding: 40px 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.siderbar-main-sec .siderbar-logo-part span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0 12px;
  display: none;
}

.siderbar-main-sec .sidebar-condition {
  position: relative;
  background-color: var(--primaryDarkBlue);
  height: calc(100% - 86px);
  z-index: 50;
  width: 100%;
}

.siderbar-main-sec .sidebar-condition .open {
  width: 100%;
}

.siderbar-main-sec .sidebar-condition .sidebar-toggle {
  background-color: var(--primaryDarkBlue);
  height: calc(100% - 86px);
  display: block;
  padding: 0 30px;
  color: var(--white);
}

.siderbar-main-sec .sidebar-condition .sidebar-toggle .sidebar-menu {
  position: relative;
  padding: 36px 0 12px 0;
}

.siderbar-main-sec .sidebar-condition .sidebar-toggle .sidebar-menu li {
  display: block;
  margin: 5px 0;
}

.siderbar-main-sec .sidebar-condition .sidebar-toggle .sidebar-menu li:first-child {
  margin-bottom: 8px;
}

.siderbar-main-sec .sidebar-condition .sidebar-toggle .sidebar-menu li a {
  padding: 5px 14px;
  width: 100%;
  border-radius: 4px;
}

.siderbar-main-sec .sidebar-condition .sidebar-toggle .sidebar-menu li a:hover {
  padding: 5px 14px;
}

.siderbar-main-sec .sidebar-condition .sidebar-toggle .sidebar-menu .active a {
  background-color: #0770e5;
  color: #fff;
}

.siderbar-main-sec .sidebar-condition .sidebar-toggle .siderbar-menu-bottom {
  padding: 12px 0;
}

.siderbar-main-sec .sidebar-condition .sidebar-toggle .siderbar-menu-bottom .logout-btn {
  color: var(--primaryBlue);
}

.siderbar-main-sec .sidebar-condition .sidebar-toggle .sidebar-border {
  border-bottom: 1px solid var(--primarylightblue);
}

.siderbar-main-sec .sidebar-condition .sidebar-toggle::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #ffffff;
  opacity: 0.2;
}

.siderbar-main-sec .sidebar-condition .sidebar-user {
  position: absolute;
  background-color: var(--primaryDarkBlue);
  width: 100%;
  bottom: 0;
}

.siderbar-main-sec .sidebar-condition .sidebar-user .sidebar-user-part {
  padding: 0 30px;
}

.siderbar-main-sec .sidebar-condition .sidebar-user .sidebar-user-part .sidebar-border-round {
  margin-bottom: 30px;
}

.siderbar-main-sec .sidebar-condition .sidebar-user .sidebar-user-part .sidebar-border-round .user-bottom {
  border-radius: 10px 10px 0 0;
  background-color: var(--gray500);
  color: var(--white);
}

.siderbar-main-sec .sidebar-condition .sidebar-user .sidebar-user-part .sidebar-border-round .user-bottom .user-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.siderbar-main-sec .sidebar-condition .sidebar-user .sidebar-user-part .sidebar-border-round .user-bottom .user-flex .user-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.siderbar-main-sec .sidebar-condition .sidebar-user .sidebar-user-part .sidebar-border-round .user-bottom .user-flex .user-img .name-user {
  padding-left: 12px;
}

.siderbar-main-sec .sidebar-condition .sidebar-user .sidebar-user-part .sidebar-border-round .user-bottom .user-flex .user-img .name-user h4 {
  font-size: 14px;
}

.siderbar-main-sec .sidebar-condition .sidebar-user .sidebar-user-part .sidebar-border-round .user-bottom .user-flex .user-img .name-user p {
  font-size: 10px;
  opacity: 0.4;
}

.siderbar-main-sec .sidebar-condition .sidebar-user .sidebar-user-part .sidebar-border-round .total-wrapper {
  border-radius: 0 0 10px 10px;
  background-color: var(--gray500);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-top: 1px solid var(--primarylightblue);
}

.siderbar-main-sec .sidebar-condition .sidebar-user .sidebar-user-part .sidebar-border-round .total-wrapper.invisible {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.siderbar-main-sec .sidebar-condition .sidebar-user .sidebar-user-part .sidebar-border-round .visible {
  opacity: 1;
}

.siderbar-main-sec .sidebar-condition .sidebar-user .sidebar-user-part .sidebar-border-round .Total-holding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  color: var(--white);
}

.siderbar-main-sec .sidebar-condition .sidebar-user .sidebar-user-part .sidebar-border-round .Total-holding .Total-holding-width {
  width: 50%;
}

.siderbar-main-sec .sidebar-condition .sidebar-user .sidebar-user-part .sidebar-border-round .Total-holding .Total-holding-width h4 {
  font-size: 16px;
}

.siderbar-main-sec .sidebar-condition .sidebar-user .sidebar-user-part .sidebar-border-round .Total-holding .Total-holding-width p {
  font-size: 10px;
  opacity: 0.4;
}

.siderbar-main-sec .sidebar-condition .sidebar-user .sidebar-user-part .sidebar-border-round .Total-holding .Total-holding-border {
  border-left: 1px solid var(--primarylightblue);
  padding-left: 20px;
}

.siderbar-main-sec .sidebar-condition .sidebar-user .sidebar-user-part .sidebar-border-round .Total-holding .Total-holding-border h4 {
  font-size: 16px;
}

.siderbar-main-sec .sidebar-condition .sidebar-user .sidebar-user-part .sidebar-border-round .Total-holding .Total-holding-border p {
  font-size: 10px;
  opacity: 0.4;
}

.siderbar-main-sec .sidebar-condition .sidebar-user .footer-sec-main {
  border-top: 1px solid var(--primarylightblue);
  padding: 30px 7px 27px 7px;
}

.siderbar-main-sec .sidebar-condition .sidebar-user .footer-sec-main .footer-sec {
  max-width: 90px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 14px;
}

.siderbar-main-sec .sidebar-condition .sidebar-user .footer-sec-main .footer-copyright {
  font-size: 10px;
  text-align: center;
  color: var(--white);
  opacity: 0.4;
}

.siderbar-main-sec .sidebar-toggle-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  display: none;
  padding: 16px 16px 0 0;
}

.inner-right-sec {
  max-width: calc(100% - 300px);
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .right-tab-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .siderbar-main-sec {
    position: fixed;
  }
}

@media screen and (max-width: 1023px) {
  .inner-right-sec {
    max-width: 100%;
    width: 100%;
  }
  .siderbar-main-sec {
    width: 100%;
    height: auto;
  }
  .siderbar-main-sec .siderbar-logo-part {
    padding: 16px 20px;
  }
  .siderbar-main-sec .siderbar-logo-part span {
    display: block;
  }
  .siderbar-main-sec .sidebar-condition {
    position: fixed;
    left: 100%;
    z-index: 50;
    width: auto;
  }
  .siderbar-main-sec .sidebar-condition .sidebar-toggle {
    display: hidden;
  }
  .siderbar-main-sec .sidebar-condition .sidebar-toggle .sidebar-menu {
    padding-top: 16px;
  }
  .siderbar-main-sec .sidebar-condition .sidebar-user {
    display: none;
  }
  .siderbar-main-sec .menuopen {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    top: 0;
    height: 100%;
    width: 90%;
  }
  .siderbar-main-sec .open {
    left: 10%;
    -webkit-box-shadow: -7px -1px 20px 5px #00000042;
            box-shadow: -7px -1px 20px 5px #00000042;
  }
  .siderbar-main-sec .sidebar-toggle-menu {
    display: block;
    text-align: right;
  }
}

@media screen and (max-width: 767px) {
  .siderbar-main-sec .siderbar-logo-part {
    padding: 16px 15px;
  }
}
/*# sourceMappingURL=sidebar.css.map */