:root {
  --primaryBlue: #0770e5;
  --primarylightblue: #0770e530;
  --primaryDarkBlue: #00215f;
  --black: #000;
  --white: #fff;
  --white100: #e0e0e0;
  --gray100: #e0e0e066;
  --gray200: #e0e0e080;
  --gray300: #e0e0e0;
  --gray400: #e8e8e8;
  --gray500: #00000030;
  --gray900: #333333;
}

.wallet-main-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

.wallet-main-sec .wallet-heading h2 {
  font-size: 40px;
  font-weight: bold;
  color: var(--primaryDarkBlue);
}

.wallet-main-sec .wallet-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wallet-main-sec .wallet-box .wallet-contain-sec button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.wallet-main-sec .wallet-box .wallet-contain-sec button:hover {
  border: 1px solid var(--primaryBlue);
  color: var(--primaryBlue);
  background-color: var(--white);
}

.wallet-main-sec .wallet-box .wallet-contain-sec .multiple-wallet {
  margin-left: 12px;
}

.wallet-main-sec .add-btn .wallet-btn {
  background-color: #0770e5;
  color: #fff;
  padding: 11px 23px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #0770e5;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  margin-right: 14px;
  cursor: pointer;
}

.wallet-main-sec .add-btn .wallet-btn span {
  font-size: 16px;
  margin-left: 12px;
}

.wallet-main-sec .add-btn .wallet-btn:hover {
  color: var(--primaryBlue);
  border: 1px solid var(--primaryBlue);
  background-color: var(--white);
}

.wallet-main-sec .add-btn .wallet-btn:hover svg line {
  stroke: #0770e5;
}

.wallet-main-sec .add-btn .wallet-btn Image {
  padding-right: 14px;
}

.wallet-detail-main {
  border: 1px solid var(--gray300);
  border-radius: 10px;
  overflow-x: auto;
  margin: 30px 0 16px 0;
}

.wallet-detail-main .wallet-data-table {
  padding: 12px 16px 22px 16px;
  text-align: left;
}

.wallet-detail-main .wallet-data-table .wallet-data-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid var(--white100);
  width: 100%;
}

.wallet-detail-main .wallet-data-table .wallet-data-list .wallet-adress {
  width: 370px;
}

.wallet-detail-main .wallet-data-table .wallet-data-list .wallet-adress:nth-child(2) {
  width: 88px;
}

.wallet-detail-main .wallet-data-table .wallet-data-list .wallet-adress:nth-child(3) {
  width: 100px;
}

.wallet-detail-main .wallet-data-table .wallet-data-list .wallet-adress:last-child {
  width: 283px;
}

.wallet-detail-main .wallet-data-table .wallet-data-list .wallet-adress h3 {
  font-size: 10px;
  color: var(--gray900);
  opacity: 0.4;
  padding-bottom: 8px;
}

.wallet-detail-main .wallet-data-table .wallet-multichain {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--white100);
  width: 100%;
  padding: 25px 0;
}

.wallet-detail-main .wallet-data-table .wallet-multichain .multician-para {
  width: 370px;
}

.wallet-detail-main .wallet-data-table .wallet-multichain .multician-para:nth-child(2) {
  width: 88px;
}

.wallet-detail-main .wallet-data-table .wallet-multichain .multician-para:nth-child(3) {
  width: 100px;
}

.wallet-detail-main .wallet-data-table .wallet-multichain .multician-para p {
  font-size: 14px;
  font-weight: 300;
  color: var(--gray900);
}

.wallet-detail-main .wallet-data-table .wallet-multichain .arbidivum-para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wallet-detail-main .wallet-data-table .wallet-multichain .arbidivum-para p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
}

.wallet-detail-main .wallet-data-table .wallet-multichain .arbidivum-para p span {
  margin-left: 12px;
  margin-top: 4px;
}

.wallet-detail-main .wallet-data-table .wallet-multichain .multician-btn-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wallet-detail-main .wallet-data-table .wallet-multichain .multician-btn-part .wallet-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--primaryBlue);
  border: 1px solid var(--primaryBlue);
  font-size: 10px;
  color: var(--white);
  border-radius: 4px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  margin-right: 14px;
  padding: 8px 30px;
  cursor: pointer;
}

.wallet-detail-main .wallet-data-table .wallet-multichain .multician-btn-part .wallet-btn:nth-child(2) {
  background-color: var(--white);
  border: 1px solid var(--black);
  color: var(--black);
}

.wallet-detail-main .wallet-data-table .wallet-multichain .multician-btn-part .wallet-btn:nth-child(2):hover {
  background-color: var(--black);
  border: 1px solid var(--black);
  color: var(--white);
}

.wallet-detail-main .wallet-data-table .wallet-multichain .multician-btn-part .wallet-btn:nth-child(3) {
  background-color: var(--white);
  border: 1px solid #ff0000;
  color: #ff0000;
  margin-right: 0;
}

.wallet-detail-main .wallet-data-table .wallet-multichain .multician-btn-part .wallet-btn:nth-child(3):hover {
  background-color: #ff0000;
  border: 1px solid #ff0000;
  color: var(--white);
}

.wallet-detail-main .wallet-data-table .wallet-multichain .multician-btn-part .wallet-btn:hover {
  background-color: var(--white);
  border: 1px solid var(--primaryBlue);
  color: var(--primaryBlue);
}

.wallet-detail-main .wallet-data-table .wallet-multichain .multician-btn-part .wallet-btn .btn-icon-img {
  display: none;
  margin-right: 8px;
}

.wallet-detail-main .wallet-data-table .wallet-multichain .multician-btn-part .edit-icon .btn-icon-img {
  margin-top: 2px;
  margin-left: 2px;
}

.wallet-detail-main .wallet-data-table .wallet-multichain .multician-btn-part .delet-icon .btn-icon-img {
  margin-top: 2px;
  margin-left: 2px;
}

.wallet-detail-main .wallet-data-table .wallet-multichain:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}

.edit-icon:hover svg path,
.edit-icon:hover svg rect {
  fill: #fff;
}

.delet-icon:hover svg path,
.delet-icon:hover svg rect {
  fill: #fff;
}

.data-table:first-child p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}

@media screen and (max-width: 1199px) {
  .wallet-detail-main .wallet-data-table {
    width: 961px;
  }
}

@media screen and (max-width: 1023px) {
  .wallet-main-sec .wallet-heading h2 {
    font-size: 32px;
  }
  .wallet-main-sec .add-btn .wallet-btn {
    background-color: #0770e5;
    color: #fff;
    padding: 11px 23px;
    border-radius: 4px;
  }
  .wallet-main-sec .add-btn .wallet-btn Image {
    padding-right: 14px;
  }
  .wallet-detail-main .wallet-data-table {
    width: auto;
  }
}

@media screen and (max-width: 991px) {
  .wallet-detail-main .wallet-data-table {
    width: 949px;
  }
}

@media screen and (max-width: 767px) {
  .wallet-main-sec {
    padding-top: 15px;
  }
  .wallet-main-sec .add-btn .wallet-btn {
    margin-right: 0;
    padding: 11px 8px;
    width: 89px;
  }
  .wallet-main-sec .add-btn .wallet-btn span {
    font-size: 10px;
    margin-left: 7px;
  }
  .wallet-main-sec .wallet-box .wallet-contain-sec {
    display: none;
  }
  .wallet-main-sec .wallet-box .white-plus-icon svg {
    width: 7px;
  }
  .wallet-detail-main {
    margin-top: 15px;
  }
  .wallet-detail-main .wallet-data-table {
    padding: 20px;
  }
  .wallet-detail-main .wallet-data-table .wallet-data-list .wallet-adress:nth-child(2) {
    display: none;
  }
  .wallet-detail-main .wallet-data-table .wallet-data-list .wallet-adress:nth-child(3) {
    display: none;
  }
  .wallet-detail-main .wallet-data-table .wallet-data-list .wallet-adress:last-child {
    width: 97px;
  }
  .wallet-detail-main .data-table {
    width: auto;
  }
  .wallet-detail-main .wallet-multichain {
    padding: 20px 0;
  }
  .wallet-detail-main .wallet-multichain .multician-para:nth-child(2) {
    display: none;
  }
  .wallet-detail-main .wallet-multichain .multician-para:nth-child(3) {
    display: none;
  }
  .wallet-detail-main .wallet-multichain .multician-btn-part .wallet-btn {
    width: 30px;
    height: 30px;
    padding: 8px 7px 8px 6px !important;
  }
  .wallet-detail-main .wallet-multichain .multician-btn-part .wallet-btn:hover .view-btn-img svg path {
    fill: var(--primaryBlue);
  }
  .wallet-detail-main .wallet-multichain .multician-btn-part .wallet-btn .btn-icon-img {
    display: block !important;
  }
  .wallet-detail-main .wallet-multichain .multician-btn-part .wallet-btn .btn-view {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .wallet-detail-main .wallet-data-table .wallet-data-list .wallet-adress {
    width: 120px;
  }
  .wallet-detail-main .wallet-multichain .multician-para {
    width: 120px !important;
  }
  .wallet-detail-main .wallet-multichain .multician-btn-part .wallet-btn {
    margin-right: 4px !important;
  }
  .wallet-detail-main .wallet-multichain:last-child {
    padding-bottom: 15px;
  }
}
/*# sourceMappingURL=wallet.css.map */