# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
.next
# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/2.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/pages-manifest.json
.next/server/webpack-runtime.js
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/pages/explore.js
.next/server/pages/index.js
.next/server/pages/portfolio.js
.next/server/pages/wallets.js
.next/static/chunks/amp.js
.next/static/chunks/main.js
.next/static/chunks/polyfills.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/chunks/pages/explore.js
.next/static/chunks/pages/index.js
.next/static/chunks/pages/portfolio.js
.next/static/chunks/pages/wallets.js
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/media/aaveaavelogo.d2a59496.svg
.next/static/media/aavelogo.433759e1.svg
.next/static/media/arrowsidebar.99651085.svg
.next/static/media/avatar.6fcedd7d.svg
.next/static/media/close-icon.f01c86c5.svg
.next/static/media/coolFinance.26c29ac0.svg
.next/static/media/cool-smail.97a445fe.svg
.next/static/media/curvefnance.58769a57.svg
.next/static/media/curvelogo.b9f52133.svg
.next/static/media/delete.3183b2eb.svg
.next/static/media/Discord-icon.1d04709d.svg
.next/static/media/editlogo.85569f40.svg
.next/static/media/ethereum.6d81d648.svg
.next/static/media/filter-dropdown.22d4d748.svg
.next/static/media/lock.4c8574f4.svg
.next/static/media/menubtn.01aa87ce.svg
.next/static/media/notional.8c8ad96e.svg
.next/static/media/notionalogo.081fff94.svg
.next/static/media/pluse.ad7011a0.svg
.next/static/media/Twitter-icon.5857b128.svg
.next/static/media/uniswap.b8c07a7e.svg
.next/static/media/uniswaplogo.f91c6f93.svg
.next/static/media/viewlogo.2c165ff3.svg
.next/static/media/viewmoreicon.a24b5641.svg
.next/static/webpack/4ef5b50d6a421cf1.webpack.hot-update.json
.next/static/webpack/57152234732a8618.webpack.hot-update.json
.next/static/webpack/5e87d216d6f9feee.webpack.hot-update.json
.next/static/webpack/9af85692b9d85338.webpack.hot-update.json
.next/static/webpack/dfe6cedfb977dc5e.webpack.hot-update.json
.next/static/webpack/webpack.4ef5b50d6a421cf1.hot-update.js
.next/static/webpack/webpack.57152234732a8618.hot-update.js
.next/static/webpack/webpack.5e87d216d6f9feee.hot-update.js
.next/static/webpack/webpack.9af85692b9d85338.hot-update.js
.next/static/webpack/webpack.dfe6cedfb977dc5e.hot-update.js
.next/cache/eslint/.cache_1a4tvga
.next/cache/webpack/client-development/3.pack
.next/cache/webpack/client-development/4.pack
.next/cache/webpack/client-development/5.pack
.next/cache/webpack/client-development/6.pack
.next/cache/webpack/server-development/2.pack
.next/cache/webpack/server-development/3.pack
.next/fallback-build-manifest.json
.next/cache/webpack/client-development-fallback/0.pack
.next/cache/webpack/client-development-fallback/index.pack
.next/cache/webpack/client-development-fallback/index.pack.old
.next/static/chunks/_error.js
.next/static/chunks/fallback/amp.js
.next/static/chunks/fallback/main.js
.next/static/chunks/fallback/react-refresh.js
.next/static/chunks/fallback/webpack.js
.next/static/chunks/fallback/pages/_app.js
.next/static/chunks/fallback/pages/_error.js
.next/static/webpack/116238b53bc1f9a7.webpack.hot-update.json
.next/static/webpack/webpack.116238b53bc1f9a7.hot-update.js
.next/static/webpack/08a196c7ebd0badc.webpack.hot-update.json
.next/static/webpack/1bb4b08f3c751b9d.webpack.hot-update.json
.next/static/webpack/37df0e7ee7bd919c.webpack.hot-update.json
.next/static/webpack/568ff28d25fcfe26.webpack.hot-update.json
.next/static/webpack/7488f52a7923ae0b.webpack.hot-update.json
.next/static/webpack/77702f5b112dff48.webpack.hot-update.json
.next/static/webpack/acef4a5455a559df.webpack.hot-update.json
.next/static/webpack/edd85695cf0efbba.webpack.hot-update.json
.next/static/webpack/webpack.08a196c7ebd0badc.hot-update.js
.next/static/webpack/webpack.1bb4b08f3c751b9d.hot-update.js
.next/static/webpack/webpack.37df0e7ee7bd919c.hot-update.js
.next/static/webpack/webpack.568ff28d25fcfe26.hot-update.js
.next/static/webpack/webpack.7488f52a7923ae0b.hot-update.js
.next/static/webpack/webpack.77702f5b112dff48.hot-update.js
.next/static/webpack/webpack.acef4a5455a559df.hot-update.js
.next/static/webpack/webpack.edd85695cf0efbba.hot-update.js
.next/cache/webpack/client-development-fallback/1.pack
.next/cache/webpack/server-development/4.pack
