//=========---------- home page strat--------=======\
.right-tab-main {
  width: 100%;
}
.inner-right-sec {
  width: 100%;
  margin-left: auto;
}
/* total value sec Start */
#tooltip-idAREA div:nth-child(1) {
  display: none;
}
#tooltip-idAREA div:nth-child(2) {
  color: #333333 !important;
  position: absolute;
  z-index: 99;
  font-weight: 700;
  font-size: 30px !important;
  padding: 8px 0;
  padding-left: 4px;
  line-height: 2.25rem;
  top: 34px;
  margin: 0 !important;
}
#tooltip-idAREA div:nth-child(3) {
  color: #333333;
  position: absolute;
  top: 66px;
  padding-left: 6px;
  font-size: 10px;
  font-weight: 500;
  padding-top: 10px;
  z-index: 99;
}
.tv-lightweight-charts {
  margin-top: 27px;
}
.tv-lightweight-charts table tr td {
  &:last-child {
    div {
      margin-left: 15px;
    }
  }
}
.total-value-main {
  max-width: 1203px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 80px;
  .total-value-head {
    margin-top: 44px;
    h2 {
      font-size: 40px;
      font-weight: bold;
      color: var(--primaryDarkBlue);
      display: inline-block;
    }
    .total-value-left {
      border-bottom: 1px solid var(--gray300);
      padding-bottom: 56px;
      margin-top: 30px;
      display: flex;
      gap: 16px;
      color: var(--gray900);
      .value-locked-part {
        max-width: 281px;
        width: 100%;
        display: block;
        .value-locked-top {
          border: 1px solid var(--gray300);
          width: auto;
          border-radius: 10px;
          padding: 25px 30px;
          margin-bottom: 14px;
          &:last-child {
            margin-bottom: 0;
          }
          h3 {
            font-size: 16px;
            font-weight: 500;
          }
          h2 {
            font-size: 42px;
            color: var(--primaryBlue);
            padding-top: 10px;
            font-weight: bold;
            line-height: 2.125rem;
          }
        }
      }
    }
    .total-value-right {
      max-width: 875px;
      width: 100%;
      border-radius: 10px;
      border: 1px solid var(--gray300);
      .total-right-conatin {
        padding: 25px;
        padding-bottom: 0 !important;
        position: relative;
        h3 {
          font-size: 16px;
          font-weight: 500;
          color: var(--gray900);
          padding-left: 8px;
        }
      }
    }
  }
}
#test-idAREA #tooltip-idAREA:first-child {
  display: none !important;
}
/* total value sec End */

/* Explore all protocols sec Start */
.explore-protocol-sec-main {
  margin-bottom: 36px;
  color: var(--primaryDarkBlue);
  .explore-protocol-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.75rem;
    padding-top: 53px;
    padding-bottom: 24px;
    h2 {
      font-size: 26px;
      font-weight: bold;
    }
    .view-more-btn {
      background-color: var(--primaryBlue);
      font-size: 14px;
      font-weight: 600;
      padding: 12px 23px;
      display: flex;
      color: #fff;
      align-items: center;
      gap: 12px;
      border: 1px solid var(--primaryBlue);
      border-radius: 4px;
      transition: 0.3s ease;
      &:hover {
        background-color: var(--white);
        color: var(--primaryBlue);
      }
    }

    .plus-icon:hover svg line {
      stroke: #0770e5;
    }

    .plus-icon:hover span svg path {
      fill: #0770e5;
    }

    .plus-icon:hover svg path {
      stroke: #0770e5;
    }
  }
  .explore-protocol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    gap: y 1.75rem;
    border-bottom: 1px solid var(--gray300);
    padding-bottom: 44px;

    .explore-protocol-left {
      width: 23.8%;
      .protocol-box {
        border: 1px solid var(--gray300);
        border-radius: 10px;
        padding: 20px;
        transition: 0.5s all;
        &:hover{
          border: 1px solid var(--primaryBlue);
          transition: 0.5s all;
        }
        .notional-part {
          display: flex;
          align-items: center;

          h3 {
            font-size: 14px;
            font-weight: 600;
            color: var(--gray900);
            padding-left: 10px;
          }
        }
        .notional-part-text {
          display: flex;
          padding: 32px 0px 12px;
          gap: 2rem;
          border-bottom: 1px solid var(--gray300);

          h3 {
            font-size: 30px;
            font-weight: bold;
          }
          p {
            font-size: 14px;
            font-weight: 500;
            color: var(--gray900);
            opacity: 0.4;
          }
        }
        .notional-bottompart {
          display: flex;
          font-size: 14px;
          font-weight: 500;
          background-color: var(--gray100);
          margin-top: 20px;
          justify-content: space-between;
          border-radius: 4px;
          .notional-risk {
            padding: 12px;
            border-radius: 4px;
            background-color: var(--gray400);
            h3 {
              font-size: 14px;
            }
            h4 {
              font-size: 10px;
              font-weight: bold;
              width: 20px;
              margin: 0 auto;
              background-color: var(--primaryDarkBlue);
              padding: 4px 8px;
              color: var(--white);
              display: flex;
              justify-content: center;
              border-radius: 4px;
              margin-top: 4px;
            }
          }
          .notional-protocol {
            padding: 12px;

            .notional-protocol-inner {
              h3 {
                font-size: 14px;
                color: var(--gray900);
                opacity: 0.5;
                text-align: center;
              }
              .protocol-img {
                padding: 4px;
                margin-top: 4px;
                display: flex;
                align-items: center;
                gap: 0.25rem;
                justify-content: center;
                background-color: var(--white);
                border-radius: 4px;
                h4 {
                  font-size: 10px;
                  font-weight: bold;
                  color: var(--gray900);
                }
              }
            }
          }
          .notional-right-border {
            border-right: 1px solid var(--white);
            width: 2px;
            height: 50px;
            margin-top: 12px;
          }
          .notional-chain {
            padding: 12px;
            h3 {
              font-size: 14px;
              text-align: center;
              color: var(--gray900);
              opacity: 0.5;
            }
            .notional-chain-inner {
              padding: 4px;
              margin-top: 4px;
              background-color: var(--white);
              border-radius: 4px;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 0.25rem;
              span{
                height: 10px !important;              
              }
              h4 {
                font-size: 10px;
                font-weight: bold;
                color: var(--gray900);
              }
            }
          }
        }
      }
      .notional-insert-sec {
        border: 1px solid var(--gray300);
        border-radius: 10px;
        padding: 14px 14px 14px 20px;
        margin: 18px 0;
        transition: 0.5s all;
        &:hover{
          border: 1px solid var(--primaryBlue);
          transition: 0.5s all;
        }
        .insert-sec {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 1.25rem;
          .insert-inner-part {
            display: flex;
            align-items: center;
            .name-insert-round {
              background-color: var(--gray300);
              padding: 20px;
              border-radius: 50%;
            }
            .insert-contain {
              padding-left: 10px;
              h3 {
                font-size: 14px;
                font-weight: 600;
                color: var(--gray900);
              }
              .insert-contain-bottom {
                display: flex;
                gap: 1rem;
                padding-top: 5px;
                h3 {
                  font-size: 20px;
                  font-weight: bold;
                  color: var(--primaryDarkBlue);
                }
                p {
                  font-size: 10px;
                  font-weight: 500;
                  color: var(--gray900);
                  opacity: 0.4;
                }
              }
            }
          }
        }
        .insert-name-right {
          h4 {
            font-size: 10px;
            font-weight: bold;
            background-color: var(--primaryDarkBlue);
            margin-top: 4px;
            border-radius: 4px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
          }
          .insert-logo-part {
            display: flex;
            justify-content: center;
            background-color: var(--gray200);
            border-radius: 4px;
            margin-top: 2px;
            width: 20px;
            height: 20px;
            .insert-img{
              min-height: 12px !important;
            }
          
          }          
        }
      }
    }
  }
}

/* Explore all protocols sec End */
// ===========-------home page End-----==========\

// mediaqurey Start
@media screen and (min-width: 1400px) and (max-width: 1499px) {
  .explore-protocol-sec-main {
    .explore-protocol {
      .explore-protocol-left {
        .protocol-box {
          .notional-part-text {
            gap: 1.25rem;
          }
          .notional-bottompart {
            .notional-risk {
              padding: 12px 8px;
            }
            .notional-protocol {
              padding: 12px 8px;
            }
            .notional-chain {
              padding: 12px 8px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: $screen-xxl) {
  .explore-protocol-sec-main {
    .explore-protocol {
      .explore-protocol-left {
        width: 32%;
        .protocol-box {
          .notional-bottompart {
            justify-content: space-evenly;
            .notional-risk {
              width: 32%;
              text-align: center;
              padding: 12px 6px;
            }
            .notional-protocol {
              width: 33%;
              padding: 12px 6px;
            }
            .notional-chain {
              width: 33%;
              padding: 12px 6px;
            }
          }
        }
      }
      .uniswap-sec-main {
        width: 65%;
        .protocol-box {
          width: 100%;
        }
      }
    }
  }

  .uniswap-sec-main {
    display: flex;
    gap: 16px;
    justify-content: center;
    .uniswp-sec {
      display: flex;
      flex-direction: column;
    }
    .uniswap-bottom {
      margin-top: 0 !important;
    }
  }
}
@media screen and (max-width: $screen-xl) {
  .explore-protocol-sec-main {
    .explore-protocol {
      .explore-protocol-left {
        width: 48%;
        .protocol-box {
          .notional-bottompart {
            .notional-risk {
              width: 33%;
            }
          }
        }
      }
    }
  }
  .uniswap-sec-main {
    display: block;
    .uniswp-sec {
      display: flex;
      flex-direction: column;
    }
  }
}
@media screen and (min-width: $screen-lg) {
  .tv-lightweight-charts {
    width: 100% !important;
    margin-right: 10px;
  }
  .tv-lightweight-charts table {
    width: 100% !important;
  }
}
@media screen and (max-width: $screen-lg) {
  .tv-lightweight-charts {
    width: 100% !important;
  }
  .tv-lightweight-charts table {
    width: 100% !important;
  }
  .total-value-main {
    .total-value-head {
      margin-top: 20px;
      h2 {
        font-size: 32px;
        line-height: 2.1875rem;
      }
      .total-value-left {
        padding-bottom: 32px;
        margin-top: 20px;
        .value-locked-part {
          .value-locked-top {
            h2 {
              font-size: 32px;
              padding-top: 4px;
            }
          }
        }
      }
      .total-value-right {
        .total-right-conatin {
          padding-bottom: 0;
          padding-top: 20px;
        }
      }
    }
  }
  .explore-protocol-sec-main {
    .explore-protocol {
      h2 {
        font-size: 24px;
      }
      .explore-protocol-left {
        .protocol-box {
          .notional-part-text {
            padding-top: 20px;
            justify-content: space-between;
            h3 {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: $screen-sm) {
  .tv-lightweight-charts .transactions-box {
    width: 1100px;
  }
  .tv-lightweight-charts .white-plus-icon svg {
    width: 7px;
  }
  .total-value-main {
    padding: 0 15px;
    .total-value-head {
      .total-value-left {
        flex-direction: column;
        .value-locked-part {
          max-width: 100%;
          display: flex;
          justify-content: space-between;
          gap: 1.25rem;
          .value-locked-top {
            padding: 16px;
            margin-bottom: 0;
            max-width: 224px;
            width: 100%;
          }
        }
        .value-locked-part {
          .value-locked-top h2 {
            font-size: 22px;
          }
        }
      }
    }
  }
  .insert-contain-bottom {
    h3 {
      font-size: 18px;
    }
  }
  .explore-protocol-sec-main {
    .explore-protocol {
      padding-bottom: 20px;
      .explore-protocol-left {
        .protocol-box {
          .notional-bottompart {
            .notional-chain {
              padding: 12px 5px;
              h3 {
                font-size: 14px;
              }
            }
            .notional-protocol {
              padding: 12px 5px;
              .notional-protocol-inner {
                h3 {
                  font-size: 14px;
                }
              }
            }
            .notional-risk {
              width: 31%;
              text-align: center;
              h3 {
                font-size: 14px;
              }
            }
          }
          .notional-part-text {
            justify-content: space-between;
          }
        }
      }
    }
  }
}
@media screen and (max-width: $screen-xs) {
  .total-value-main {
    .total-value-head {
      .total-value-right {
        .total-right-conatin{
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
  .tv-lightweight-charts {
    margin-top: 40px;
  }
  .total-value-main {
    .total-value-head {
      .total-value-left {
        .value-locked-part {
          justify-content: center;
          gap: 1rem; 
        }
      }
    }
  }
  .explore-protocol-sec-main {
    .explore-protocol {
      .explore-protocol-left {
        width: 100%;
        .protocol-box {
          padding: 15px;
        }
        .notional-insert-sec {
          .insert-sec .insert-inner-part {
            .insert-contain {
              .insert-contain-bottom {
                gap: 2rem;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .total-value-main {
    .total-value-head {
      .total-value-left {
        .value-locked-part {
          max-width: fit-content;
          flex-wrap: wrap;
          justify-content: space-between;
          .value-locked-top {
            width: 47%;
            max-width: 100%;
          }
          .value-locked-bottom {
            width: 100%;
          }
        }
      }
    }
  }
}
/* Explore all protocols sec End */
