$screen-xs: 575px;
$screen-sm: 767px;
$screen-md: 991px;
$screen-lg: 1023px;
$screen-xl: 1199px;
$screen-xxl: 1399px;

:root {
  --primaryBlue: #0770e5;
  --primarylightblue: #0770e530;
  --primaryDarkBlue: #00215f;
  --black: #000;
  --white: #fff;
  --white100: #e0e0e0;
  --gray100: #e0e0e066;
  --gray200: #e0e0e080;
  --gray300: #e0e0e0;
  --gray400: #e8e8e8;
  --gray500: #00000030;
  --gray900: #333333;
}
// -------======portfolia page Start------=======/
.portfolia-sec-main {
  margin-top: 44px;
  h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--primaryDarkBlue);
    display: inline-block;
  }
  .portfolia-part {
    border-bottom: 1px solid var(--gray300);
    padding-bottom: 56px;
    margin-top: 30px;
    display: flex;
    color: var(--gray900);
    gap: 1rem;

    .portfolia-left-sec {
      max-width: 281px;
      width: 100%;
      display: flex;
      display: block;
      gap: 1.25rem;
      .portfolia-left-top {
        border: 1px solid var(--gray300);
        border-radius: 10px;
        padding: 25px 30px;
        margin-bottom: 14px;
        width: 100%;
        &:last-child {
          margin-bottom: 0;
        }
        h3 {
          font-size: 16px;
          font-weight: 500;
        }
        h2 {
          font-size: 42px;
          font-weight: bold;
          color: var(--primaryBlue);
          padding-top: 10px;
          line-height: 34px;
        }
      }
    }
    .portfolia-right-sec {
      max-width: 875px;
      width: 100%;
      border-radius: 10px;
      border: 1px solid var(--gray300);
      .portfolia-right-contain {
        padding: 25px 25px;
        position: relative;
        h3 {
          font-size: 16px;
          font-weight: 500;
          color: var(--gray900);
          padding-left: 10px
        }
      }
      #tooltip-idAREA div:nth-child(3) {
        display: none;
      }
      #tooltip-idAREA div:nth-child(2) {
        padding-left: 10px;
        color: #24ad58 !important;
        &::before {
          color: #24ad58 !important;
          content: "+";
          background-color: #fff;
          position: absolute;
        }
        &::after {
          color: #24ad58 !important;
          content: "%";
          position: absolute;
        }
      }
      #tooltip-idAREA div:nth-child(3) {
        display: none;
      }
      .portfolia-right-sec #tooltip-idAREA div:nth-child(2) {
        color: #24ad58 !important;
      }
    }
  }
}
.tv-lightweight-charts table tr td div {
  width: 60%;
  margin-left: 6px;
  padding-right: 0;
}
// asset sec Start
.portfolia-asset-main {
  margin-top: 48px;
  h2 {
    font-size: 26px;
    font-weight: bold;
    color: var(--primaryDarkBlue);
  }
}
.add-btn .wallet-btn {
  background-color: #0770e5;
  color: #fff;
  padding: 11px 23px;
  border-radius: 4px;
}
.add-btn .wallet-btn Image {
  padding-right: 14px;
}
.portfolia-asset-sec {
  border: 1px solid var(--gray300);
  border-radius: 10px;
  overflow: hidden;
  margin: 24px 0 16px 0;
  .portfolia-asset-flex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    .asset-main-sec {
      width: 100%;
      .asset-position {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        width: 100%;
        border-radius: 4px;
        overflow-x: auto;
        overflow-wrap: break-word;
        background-color: var(--white);
        .transactions-box {
          padding: 12px 20px 16px;
          flex: 1 1 auto;
          .assets-box {
            display: inline-flex;
            justify-content: space-between;
            width: 100%;
            padding: 0 !important;
            border-bottom: 1px solid var(--white100);

            h3 {
              font-size: 10px;
              padding-bottom: 8px;
              color: var(--gray900);
              opacity: 0.4;
            }
          }
          .notional-eht {
            display: inline-flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            padding: 25px 0;
            border-bottom: 1px solid var(--white100);
            .portfolia-market {
              display: flex;
              align-items: center;
              gap: 10px;
              width: 21%;
              p {
                font-size: 14px;
                font-weight: 600;
                color: var(--gray900);
                margin-right: 32px;
              }
              .data-table-transition {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 67%;
              }
              .portfolia-insert {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: var(--white100);
              }
            }
            .notional-width {
              width: 12%;
              &:first-child {
                width: 20%;
              }
              &:nth-child(2) {
                width: 12%;
              }
              &:last-child {
                width: 10%;
              }
              p {
                font-size: 14px;
                font-weight: 300;
                color: var(--gray900);
              }
              .manage-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--primaryBlue);
                border-radius: 4px;
                color: white;
                font-size: 10px;
                transition: 0.3s all;
                border: 1px var(--primaryBlue);
                padding: 8px 10px;
                margin-right: 14px;
                width: 106px;
                &:hover {
                  border: 1px solid var(--primaryBlue);
                  color: var(--primaryBlue);
                  background-color: var(--white);
                }
              }
            }
            .notional-number {
              width: 15%;
              p {
                font-weight: 600;
              }
            }
            &:last-child {
              border-bottom: none;
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
// asset sec End

@media screen and (max-width: $screen-xxl) {
  .portfolia-asset-sec {
    .portfolia-asset-flex {
      .asset-main-sec {
        .asset-position {
          .transactions-box {
            width: 1200px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: $screen-xl) {
  .portfolia-asset-sec {
    .portfolia-asset-flex {
      .asset-main-sec {
        .asset-position {
          .transactions-box {
            .assets-box {
              .portfolia-value {
                width: 170px;
              }
            }
            .notional-eht {
              .notional-number {
                width: 147px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: $screen-lg) {
  .portfolia-sec-main {
    margin-top: 20px;
    h2 {
      font-size: 32px;
      line-height: 35px;
    }
    .portfolia-part {
      padding-bottom: 32px;
      margin-top: 16px;
      .portfolia-left-sec {
        .portfolia-left-top {
          h2 {
            font-size: 24px;
            padding-top: 4px;
          }
        }
      }
      .portfolia-right-sec {
        .portfolia-right-contain {
          padding-bottom: 0;
        }
      }
    }
  }
  .portfolia-asset-main {
    margin-top: 32px;
    h2 {
      font-size: 24px;
    }
  }
}
@media screen and (max-width: $screen-sm) {
  .portfolia-sec-main {
    .portfolia-part {
      flex-direction: column;
      .portfolia-left-sec {
        max-width: 100%;
        display: inherit;
        .portfolia-left-top {
          padding: 16px;
          margin-bottom: 0;
        }
      }
    }
  }
  .portfolia-asset-sec {
    margin: 16px 0;
  }
  .portfolia-asset-sec {
    .portfolia-asset-flex {
      .asset-main-sec {
        .asset-position {
          .transactions-box {
            .notional-eht {
              padding: 20px 0;
              &:last-child{
                padding-bottom: 15px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: $screen-xs) {  
  .portfolia-asset-sec {
    .portfolia-asset-flex {
      .asset-main-sec {
        .asset-position {
          .transactions-box {
            .notional-eht {
              .notional-width {
                .manage-btn {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .portfolia-sec-main {
    .portfolia-part {
      .portfolia-left-sec {
        max-width: fit-content;
        justify-content: center;
        gap: 16px;
        flex-wrap: wrap;
        .portfolia-left-top {
          width: 47%;
          max-width: 100%;
        }
        .portfolia-left-bottom {
          width: 100%;
        }
      }
    }
  }
} 

// -------======portfolia page Start------=======/
